{% extends 'public/base.html' %}
{% block content-header %}
            <h4>
                <ol class="breadcrumb">
                    <li><a href="/instrument/instrument/"><i class="fa fa-dashboard"></i> 设备管理</a></li>
                    <li class="active">设备列表</li>
                </ol>
            </h4>

{% endblock %}
{% block content %}
    <div>
        <h3 style="text-align: center">设备管理</h3>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/instrument/add_instrument/">添加设备</a>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-responsive">
                    <thead>
                        <tr><td>设备编号</td><td>设备名称</td><td>设备状态</td><td>管理人员</td><td>启用时间</td><td>所属公司</td><td>操作</td></tr>
                    </thead>
                    <tbody>
                    {% for row in instrument_list %}
                        <tr>
                            <td>{{ row.instrument_index}}</td>
                            <td>{{ row.instrument_name}}</td>
                            <td>{{ row.instrument_status }}</td>
                            <td>{{ row.instrument_manager}}</td>
                            <td>{{ row.instrument_start_date|date:"Y-m-d"}}</td>
                            <td>{{ row.instrument_company }}</td>
                            <td>
                                <a type="button" class="btn btn-xs btn-warning" href="/instrument/edit_instrument/?nid={{ row.id }}">编辑</a>
                                <a type="button" class="btn btn-xs btn-danger" href="/instrument/del_instrument/?nid={{ row.id }}">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

       </div>
    </div>

{% endblock %}