{% extends 'public/base.html' %}
{% block content-header %}
            <h4>
                <ol class="breadcrumb">
                    <li><a href="/unit/unit/"><i class="fa fa-dashboard"></i> 项目单位管理</a></li>
                    <li class="active">添加单位</li>
                </ol>
            </h4>
{% endblock %}
{% block content %}
    <h3 style="text-align: center">项目单位管理</h3>
    <div class="panel panel-default">
            <div class="panel-heading">
                <span>添加项目单位</span>
            </div>
            <div class="panel-body">
                <form action="/item/add_unit/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="unit_index">项目单位编号：</label>
                        {% if last_unit_info %}
                            <input type="text" name="unit_index" class="form-control" id="unit_index"  value='{{ last_unit_info.unit_index|add:1}}' >
                        {% else %}
                            <input type="text" name="unit_index" class="form-control" id="unit_index"  value='1001' >
                        {% endif %}

                    </div>

                    <div class="form-group">
                        <label for="unit_name">项目单位名称：</label>
                        <input type="text" name="unit_name" class="form-control" id="unit_name" placeholder="请输入项目单位名称">
                    </div>



                    <button type="submit" class="btn btn-default">提交</button>

                </form>
            </div>

       </div>
{% endblock %}
